
body {
    padding-top: 50px;
}

.airone-navbar {
    min-height: 50px;
    height: 50px;
}

.airone-sidebar {
    background-color: #d2d4d5;

    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    padding-top: 10px;

    overflow-x: hidden;
    overflow-y: auto;
}

.airone-breadcrumb {
    border-radius: 0;
}

/* This is a configuration for the page of create/edit Entity */
#sortdata tr {
    cursor: pointer;
}

/* This used for the page of show Entry */
.url_conv {
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}

.input-disabled{
    background-color: #dbdbdb;
};
