{% extends 'base.html' %}

{% block title %}Advanced Search (Result){% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">高度な検索</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% load bitwise_tags %}
<div class="container-fluid">
  <!-- title of target range of entitiy -->
  <div class="row">
    <div class="col">
      <h3>検索条件入力</h3>
    </div>
  </div>

  <!-- context of target range of entitiy -->
  <div class="row">
    <div class="col-md-5">
      <label class="col-label">全 Entity の一覧　</label>
      <input type='checkbox' id='select_all_entity'> 検索対象を絞り込まない</input>
      <select multiple='on' id="all_entity" class="form-control" size='7'>
        {% for entity in entities %}
          <option value='{{ entity.id }}'>{{ entity.name }}</option>
        {% endfor %}
      </select>
      <input type="text" class="form-control narrow_down_option" placeholder="絞り込み" />
    </div>
    <div class="col-md-1">
      <table style="height: 120%; margin:0 auto;">
        <tr>
          <td class="align-middle"><button type="button" class="align-middle form-control btn btn-secondary btn-sm" id='delete_target_entity'>＜</button></td>
          <td class="align-middle"><button type="button" class="align-middle form-control btn btn-primary btn-sm" id='append_target_entity'>＞</button></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <label class="col-label">検索対象の Entity</label>
      <select multiple="on" id="selected_entity" class="form-control" style='height:230px;'>
      </select>
    </div>
  </div>

  <hr/>

  <div id='attr_condition' style='display:none;'>
    <div class="row">
      <div class="col-md-5">
        <label class="col-label">属性一覧</label>
        <select multiple='on' id='all_attr' class="form-control" size='7'>
        </select>
        <input type="text" class="form-control narrow_down_option" placeholder="絞り込み" />
      </div>
      <div class="col-md-1">
        <table style="height: 120%; margin:0 auto;">
          <tr>
            <td class="align-middle"><button type="button" class="align-middle form-control btn btn-secondary btn-sm" id='delete_target_attr'>＜</button></td>
            <td class="align-middle"><button type="button" class="align-middle form-control btn btn-primary btn-sm" id='append_target_attr'>＞</button></td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <label class="col-label">検索対象の属性</label>
        <select multiple="on" id="selected_attr" class="form-control" style='height:230px;'>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="float-right">
          <button id="do_search" type="button" class="btn btn-primary">検索</button>
        </div>
      </div>
    </div>
  </div> <!-- end of 'attr_condition' -->

</div>

{% endblock %}

{% block script %}
<script>

function update_attr_condition(entities) {
  $.ajax({
    type: 'GET',
    url: `/api/v1/entity/attrs/${entities}`,
    dataType: 'json',
    contentType:   'application/x-www-form-urlencoded;charset=utf-8',
    scriptCharset: 'utf-8',
  }).done(function(data){
    var all_attr = $('#all_attr');
    var selected_attr = $('#selected_attr');

    all_attr.children().remove();
    selected_attr.children().remove();

    for(var attr_name of data['result']) {
      all_attr.append($(`<option value='${ attr_name }'>${ attr_name }</option>`));
    }

    $('#attr_condition').show();
  }).fail(function(msg){
    MessageBox.error(msg);
  });
}

function initialize_attr_condition() {
  // search all attrs which are selected and show form to set condition for attr
  target_entities = $('#selected_entity').children().map(function() { return this.value; });

  if(target_entities.length > 0) {
    update_attr_condition(target_entities.get().join());
  } else {
    $('#attr_condition').hide();
  }
}

/* handlers for specifying targets of entity */
$('#append_target_entity').on('click', function() {
  var elem_selected = $('#selected_entity');

  $("#all_entity").find(":selected").each(function(i, elem){
    if(elem_selected.find("option[value="+ $(elem).val() +"]").length == 0) {
      elem_selected.append($(elem).clone());
    }
  });

  initialize_attr_condition();
});

$('#delete_target_entity').on('click', function() {
  $("#selected_entity").find(":selected").each(function(i, elem){
    $(elem).remove();
  });

  initialize_attr_condition();
});

$('#append_target_attr').on('click', function() {
  var elem_selected = $('#selected_attr');

  $("#all_attr").find(":selected").each(function(i, elem){
    if(elem_selected.find(`option[value="${ $(elem).val() }"]`).length == 0) {
      elem_selected.append($(elem).clone());
    }
  });
});

$('#delete_target_attr').on('click', function() {
  $("#selected_attr").find(":selected").each(function(i, elem){
    $(elem).remove();
  });
});

$('.narrow_down_option').keyup(function() {
  var input_str = $(this).val();
  $(this).parent().find("option").each(function(i, elem){
    if($(elem).text().toUpperCase().indexOf(input_str.toUpperCase()) >= 0) {
      $(elem).show();
    } else {
      $(elem).hide();
    }
  });
});

$('#do_search').on('click', function() {
  var attrs = $('#selected_attr').children().map(function() {
    return 'attr[]=' + encodeURIComponent(this.value);
  }).get().join('&');

  var entities = $('#selected_entity').children().map(function() {
    return 'entity[]=' + encodeURIComponent(this.value);
  }).get().join('&');

  var is_all_entities = $('#select_all_entity').is(':checked');

  location.href = `/dashboard/advanced_search_result?is_all_entities=${ is_all_entities }&${ attrs }&${ entities }`;
});

$('#select_all_entity').on('click', function() {
  $('#all_entity').prop('disabled', $(this).is(':checked'));
  $('#selected_entity').prop('disabled', $(this).is(':checked'));

  if($(this).is(':checked')) {
    update_attr_condition(',');
  } else {
    initialize_attr_condition();
  }
});

</script>
{% endblock %}
