{% extends 'base.html' %}

{% block title %}Create Attributes{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">top</a></li>
    <li class="breadcrumb-item"><a href="list_entity.html">エンティティ一覧</a></li>
    <li class="breadcrumb-item"><a href="edit_entity.html">エンティティ属性</a></li>
    <li class="breadcrumb-item">エンティティ新規属性</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>エンティティ新規属性作成</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_add_attribute" type="button" class="btn btn-primary">属性の追加</button>
      </div>
      <div class="float-right">
        <button name="button_save" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form name="form" action="create_attribute.html" method="post">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>属性名</td>
              <td>TYPE</td>
              <td>必須</td>
              <td>ACL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input name="text_attribute_1" type="text" class="form-control" placeholder="" value=""></td>
              <td><input name="text_type_1" type="text" class="form-control" placeholder="" value=""></td>
              <td><input name="checkbox_required_1" type="checkbox" class="form-control" placeholder="" value=""></td>
              <td><a href="create_acl.html" role="button" class="btn btn-secondary">ACL作成</a></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
