{% extends 'base.html' %}

{% block title %}Create Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entity.id }}'>{{ entity.name }}</a></li>
    <li class="breadcrumb-item">新規エントリ作成 ({{ entity.name }})</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% load bitwise_tags %}
<div class="container-fluid">
  <form url="/entry/do_create/{{ entity.id }}/" method="post">
    <div class="row">
      <div class="col">
        <div class="float-right">
          <input type="submit" class="btn btn-primary align-right" value="保存"/>
        </div>
        <table class="table table-bordered">
          <tr>
            <td>エントリ名</td>
            <td><input type="text" name="entry_name" /></td>
          </tr>
        </table>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <th>属性</th>
        <th>属性値</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
        <tr>
          {% if attr.is_mandatory %}
          <td><strong>(*)</strong> {{ attr.name }} </td>
          {% else %}
          <td>{{ attr.name }}</td>
          {% endif %}
          <td>
            {% if attr.type|bitwise_and:attr_type_value.array %}
              <div class='container'>
                <button type="button" class="btn btn-primary btn-sm" name='add_attr'>add row</button>
                <div class='row'>
                  <div class='col-4'>
                    <div>
                    {% if attr.type == attr_type.array_entry %}
                      <select class='attr_value' attr_id='{{ attr.id }}'>
                        {% if not attr.is_mandatory %}
                        <option value='0'>- NOT SET -</option>
                        {% endif %}

                        {% for referral in attr.referrals %}
                        <option value='{{ referral.id }}'>{{ referral.name }}</option>
                        {% endfor %}
                      </select>
                    {% else %}
                      <input type='text' class='attr_value' attr_id='{{ attr.id }}' />
                    {% endif %}
                    </div>
                  </div>

                  <div class='col'>
                    <button type="button" class="btn btn-danger btn-sm" name="del_attr">del</button>
                  </div>
                </div>

                <!-- template of attribute value column -->
                <div style="display:none" name='attr_value_template'>
                  <div class='col-4'>
                    {% if attr.type == attr_type.array_entry %}
                      <select class='attr_value' attr_id='{{ attr.id }}'>
                        {% if not attr.is_mandatory %}
                        <option value='0'>- NOT SET -</option>
                        {% endif %}

                        {% for referral in attr.referrals %}
                        <option value='{{ referral.id }}'>{{ referral.name }}</option>
                        {% endfor %}
                      </select>
                    {% else %}
                      <input type='text' class='attr_value' attr_id='{{ attr.id }}' />
                    {% endif %}
                  </div>
                  <div class='col'>
                    <button type="button" class="btn btn-danger btn-sm" name="del_attr">del</button>
                  </div>
                </div>
              </div>
            {% else %}
              {% if attr.type == attr_type.entry %}
                <select class='attr_value' attr_id='{{ attr.id }}'>
                  {% if not attr.is_mandatory %}
                  <option value='0'>- NOT SET -</option>
                  {% endif %}

                  {% for referral in attr.referrals %}
                  <option value='{{ referral.id }}'>{{ referral.name }}</option>
                  {% endfor %}
                </select>
              {% else %}
                <input type='text' class='attr_value' attr_id='{{ attr.id }}' />
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <strong>(*)</strong> は必須項目
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  attrs = []
  $(this).find('.attr_value').each(function(){
    attrs.push({
      'id': $(this).attr('attr_id'),
      'value': $(this).val(),
    });
  });
  HttpPost($(this), {'attrs': attrs});

  return false;
});

$('button[name=add_attr]').on('click', function() {
  var container = $(this).parent();
  var new_column = $('<div class="row" />');

  new_column.append($.parseHTML($(this).parent().find('div[name="attr_value_template"]').html()));

  container.append(new_column);

  return false;
});
</script>
{% endblock %}
