{% extends 'base.html' %}

{% block title %}Create Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entity.id }}'>{{ entity.name }}</a></li>
    <li class="breadcrumb-item">新規エントリ作成 ({{ entity.name }})</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form url="/entry/do_create/{{ entity.id }}/" method="post">
    <div class="row">
      <div class="col">
        <div class="float-right">
          <input type="submit" class="btn btn-primary align-right" value="保存"/>
        </div>
        <table class="table table-bordered">
          <tr>
            <td>エントリ名</td>
            <td><input type="text" name="entry_name" /></td>
          </tr>
        </table>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <th>属性</th>
        <th>属性値</th>
      </thead>
      <tbody>
        {% include 'edit_entry_attrs.html' %}
      </tbody>
    </table>
    <strong>(*)</strong> は必須項目
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  attrs = []
  $(this).find('.attr_value').each(function(){
    attrs.push({
      'id': $(this).attr('attr_id'),
      'value': $(this).val(),
    });
  });
  HttpPost($(this), {'attrs': attrs});

  return false;
});

var del_column = function() {
  // remove selected column
  $(this).parent().parent().remove();

  return false;
}

$('button[name=add_attr]').on('click', function() {
  var container = $(this).parent();
  var new_column = $('<div class="row" />');

  new_column.append($.parseHTML($(this).parent().find('div[name="attr_value_template"]').html()));
  new_column.find('button[name=del_attr]').on('click', del_column);

  container.append(new_column);

  return false;
});

$('button[name=del_attr]').on('click', del_column);

</script>
{% endblock %}
