{% extends 'base.html' %}

{% block title %}Create Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entity.id }}'>{{ entity.name }}</a></li>
    <li class="breadcrumb-item">新規エントリ作成 ({{ entity.name }})</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form url='/entry/do_create/{{ entity.id }}/' method='post'>
    <div class='row'>
      <div class='col'>
        <div class="float-left">
          Name: <input type='string' name='entry_name' />
        </div>
        <div class="float-right">
          <input type="submit" class="btn btn-primary align-right" value='保存'/>
        </div>
      </div>
    </div>
    <hr/>
    <table>
      {% for attr in attributes %}
      <tr>
        <td>{{ attr.name }}</td>
        {% if attr.type == attr_type.entry %}
          <td>
            <select class='attr_value' attr_id='{{ attr.id }}'>
            {% for referral in attr.referrals %}
              <option value='{{ referral.id }}'>{{ referral.name }}</option>
            {% endfor %}
            </select>
          </td>
        {% else %}
          <td><input type='string' class='attr_value' attr_id='{{ attr.id }}' /></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  attrs = []
  $(this).find('.attr_value').each(function(){
    attrs.push({
      'id': $(this).attr('attr_id'),
      'value': $(this).val(),
    });
  });
  HttpPost($(this), {'attrs': attrs});

  return false;
});
</script>
{% endblock %}
