{% extends 'base.html' %}

{% block title %}Edit Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    <li class="breadcrumb-item"><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></li>
    <li class="breadcrumb-item">{{ entry.name }} の編集</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form url='/entry/do_edit/{{ entry.id }}' method='post'>
    <div class='row'>
      <div class="col">
        <div class="float-right">
          <input type="submit" class="btn btn-primary" value='保存'/>
        </div>
        <table class="table table-bordered">
          <tr>
            <td>エントリ名</td>
            <td><input type="text" name="entry_name" value="{{ entry.name }}"/>{% if entry.deleted %}(deleted){% endif %}</td>
          </tr>
        </table>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <th>属性</th>
        <th>属性値</th>
        <th></th>
      </thead>
      <tbody>
        {% for attr in attributes %}
        <tr>
          <td>
            {% if attr.is_mandatory %}<strong>(*)</strong>{% endif %}{{ attr.name }}
          </td>
          <td>
            {% if attr.referrals %}
            <select class="attr_value" attr_id="{{ attr.id }}">
              {% if not attr.is_mandatory %}
              <option value='0'>- NOT SET -</option>
              {% endif %}

              {% for referral in attr.referrals %}
              <option value="{{ referral.id }}"{% if referral.id == attr.last_referral.id %} selected="selected" {% endif %}>{{ referral.name }}</option>
              {% endfor %}
            </select>
            {% else %}
            <input type="text" class="attr_value" attr_id="{{ attr.id }}" value="{{ attr.last_value }}"/>
            {% endif %}
          </td>
          <td>
            <a href="/acl/{{ attr.id }}"><button type="button" class="btn btn-info btn-sm">ACL</button></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
    <strong>(*)</strong> は必須項目
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  attrs = []
  $(this).find('.attr_value').each(function(){
    attrs.push({
      'id': $(this).attr('attr_id'),
      'value': $(this).val(),
    });
  });
  HttpPost($(this), {'attrs': attrs});

  return false;
});
</script>
{% endblock %}
