{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">top</a></li>
    <li class="breadcrumb-item"><a href="list_user.html">top</a></li>
    <li class="breadcrumb-item">ユーザ属性</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>ユーザ属性</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_create" type="button" class="btn btn-primary">新規属性</button>
        <button name="button_export" type="button" class="btn btn-secondary">エクスポート</button>
        <button name="button_import" type="button" class="btn btn-secondary">インポート</button>
        <button name="button_delete" type="button" class="btn btn-danger">削除</button>
      </div>
      <div class="float-right">
        <button name="button_update" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form name="form" action="edit_user.html" method="POST">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td></td>
              <td>属性</td>
              <td>値</td>
              <td>TYPE</td>
              <td>必須</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_0" type="checkbox" class="form-check-input"></label></td>
              <td>username<input name="text_attribute_0" type="hidden" value="name"></td>
              <td><input name="text_attrval_0" type="text" class="form-control" placeholder="username([A-Za-z][A-Za-z0-9]*)" value="uchikawa"></td>
              <td>string</td>
              <td>■</td>
            </tr>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_3" type="checkbox" class="form-check-input"></label></td>
              <td>password<input name="text_attribute_3" type="hidden" value="password"></td>
              <td><input name="text_attrval_3" type="password" class="form-control" placeholder="" value="*********"></td>
              <td>string</td>
              <td>■</td>
            </tr>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_7" type="checkbox" class="form-check-input"></label></td>
              <td>mail address<input name="text_attribute_7" type="hidden" value="mail"></td>
              <td><input name="text_attrval_7" type="text" class="form-control" placeholder="suzuki-taro@example.com" value="uchikawa-yoshi@dmm.com"></td>
              <td>string</td>
              <td>□</td>
            </tr>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_8" type="checkbox" class="form-check-input"></label></td>
              <td>group list<input name="text_attribute_8" type="hidden" value="group"></td>
              <td><input name="text_attrval_8" type="text" class="form-control" placeholder="" value="admin, infra"></td>
              <td>string-list</td>
              <td>□</td>
            </tr>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_4" type="checkbox" class="form-check-input"></label></td>
              <td>Last-login</td>
              <td>2017-xx-xx xx:xx:xx</td>
              <td>datetime</td>
              <td>■</td>
            </tr>
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_5" type="checkbox" class="form-check-input"></label></td>
              <td>Last-update</td>
              <td>2017-xx-xx xx:xx:xx</td>
              <td>datetime</td>
              <td>■</td>
            </tr>

          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
