{% extends 'base.html' %}

{% block title %}Create ACLs{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    {% if object.objtype == navigator.acl_objtype.entity %}
      <li class="breadcrumb-item"><a href="/entity/">エンティティ一覧</a></li>
      <li class="breadcrumb-item">ACL 設定</li>
    {% elif object.objtype == navigator.acl_objtype.entry %}
      <li class="breadcrumb-item"><a href="/entry/{{ object.schema.id }}">{{ object.schema.name }}</a></li>
      <li class="breadcrumb-item"><a href="/entry/show/{{ object.id }}">{{ object.name }}</a></li>
      <li class="breadcrumb-item">ACL 設定</li>
    {% elif object.objtype == navigator.acl_objtype.attrbase %}
      <li class="breadcrumb-item"><a href="/entity/">エンティティ一覧</a></li>
      <li class="breadcrumb-item"><a href="/entity/edit/{{ parent.id }}">{{ parent.name }}</a></li>
      <li class="breadcrumb-item">ACL 設定</li>
    {% elif object.objtype == navigator.acl_objtype.attr %}
      <li class="breadcrumb-item"><a href="/entry/{{ parent.schema.id }}">{{ parent.schema.name }}</a></li>
      <li class="breadcrumb-item"><a href="/entry/show/{{ parent.id }}">{{ parent.name }}</a></li>
      <li class="breadcrumb-item"><a href="/entry/edit/{{ parent.id }}">{{ parent.name }} の編集</a></li>
      <li class="breadcrumb-item">ACL 設定</li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>"{{ object.name }}" の ACL 設定</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-left form-group">
      </div>
      <div class="float-right">
        <button id="submit" name="submit" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form id="form" name="form" url="/acl/set" action="/acl/set" method="post">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ object.id }}" />
        <input type="hidden" name="object_type" value="{{ object.objtype }}" />
        <div class="container">
          <div class="row">
            <div class="col">
            公開：<input type="checkbox" name="is_public" {% if object.is_public %}checked="checked"{% endif %}/>
            </div>
          </div>
          <div class="row default_permission" {% if object.is_public %}style="display: none"{% endif %}>
            <!-- show interfaces to set default permissions -->
            <div class="col">
              デフォルト権限：
            </div>
            {% for acltype in acltypes %}
            <div class="col">
              <div class="radio">
                <label><input type="radio" name="default_permission" value="{{ acltype.id }}" {% if object.default_permission == acltype.id %}checked="checked"{% endif %} />：{{ acltype.name }}</label>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <hr />
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>ユーザ or グループ</td>
              <td>権限</td>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <td>{{ member.name }}</td>
              <td>
                <select name="acl" member_id="{{ member.id }}" member_type="{{ member.type }}">
                  {% for acltype in acltypes %}
                    {% if acltype.id == member.current_permission %}
                      <option value="{{ acltype.id }}" selected="selected">{{ acltype.name }}</option>
                    {% else %}
                      <option value="{{ acltype.id }}">{{ acltype.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $("input[name=is_public]").change(function() {
    if (this.checked) {
      $('.default_permission').hide();
    } else {
      $('.default_permission').show();
    }
  });

  $("#submit").click(function() {
    var acl = [];
  
    $("#form").find('select[name=acl]').each(function(){
      acl.push({
        'member_type': $(this).attr('member_type'),
        'member_id': $(this).attr('member_id'),
        'value': $(this).val() != "" ? $(this).val() : null,
      });
    });
    HttpPost($("#form"), {'acl': acl}, {
      'on_success': function(data) {
        // set successful message to the updated page
        MessageBox.setNextOnLoadMessage(MessageBox.SUCCESS, data.msg);

        // set redirect URL
        location.href = data.redirect_url;
      }
    });

    return false;
  });  
</script>
{% endblock %}
