{% load bitwise_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <input name="button_save" type="submit" class="btn btn-primary" value='保存'></input>
      </div>
      <table class="table table-bordered">
        <tr>
          <td>エンティティ名</td>
          <td><input type="text" name="name" value="{{ entity.name }}" /></td>
        </tr>
        <tr>
          <td>備考</td>
          <td><input type="text" name="note" size="50" value="{{ entity.note }}" /></td>
        </tr>
        <tr>
          <td>サイドバーに表示</td>
          {% if entity.status|bitwise_and:STATUS_ENTITY.TOP_LEVEL %}
            <td><input type="checkbox" name="is_toplevel" checked="checked"/></td>
          {% else %}
            <td><input type="checkbox" name="is_toplevel" /></td>
          {% endif %}
        </tr>
      </table>

      <table class="table table-bordered">
        <thead>
          <th>属性名</th>
          <th>型</th>
          <th>必須</th>
          <th></th>
          <th></th>
        </thead>

        <tbody name="attributes" id='sortdata'>
          {% for attr in attributes %}
          <tr class="attr" attr_id="{{ attr.id }}">
            <input type='hidden' class="row_index" value='{{ forloop.counter }}' />
            <td><input type="text" class="attr_name" value="{{ attr.name }}"/></td>
            <td>
              <select class="attr_type">
                {% for type in attr_types %}
                <option value="{{ type.TYPE }}" {% if attr.type == type.TYPE %}selected="selected"{% endif %}>{{ type.NAME }}</option>
                {% endfor %}
              </select>
              
              <select class="attr_referral" {% if not attr.referral %}style="display:none"{% endif %} size="3" multiple="True">
                {% for entity in entities %}
                <option value="{{ entity.id }}" {% if attr.referral.id == entity.id %}selected="selected"{% endif %}>{{ entity.name }}</option>
                {% endfor %}
              </select>

            </td>
            <td>
              {% if attr.is_mandatory %}
              <input type="checkbox" class="is_mandatory" checked="checked" />
              {% else %}
              <input type="checkbox" class="is_mandatory" />
              {% endif %}
            </td>
            <td>
              <a href="/acl/{{ attr.id }}"><button type="button" class="btn btn-info btn-sm">ACL</button></a>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" name="del_attr">del</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>

        <!-- templates -->
        <tfoot style="display:none">
          <tr name="attr_template">
            <td><input type="text" class="attr_name"></input></td>
            <td>
              <select class="attr_type">
                {% for type in attr_types %}
                <option value="{{ type.TYPE }}">{{ type.NAME }}</option>
                {% endfor %}
              </select>
              <select class="attr_referral" style="display:none" size="3" multiple="True">
                {% for entity in entities %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="checkbox" class="is_mandatory"></input>
            </td>
            <td>

            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" name="del_attr">del</button>
            </td>
            <input type='hidden' class="row_index" />
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" name="add_attr">属性追加</button>
    </div>
  </div>
</div>
{% csrf_token %}
