{% extends 'base.html' %}

{% block title %}Edit Entity{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">top</a></li>
    <li class="breadcrumb-item"><a href="list_entity.html">エンティティ一覧</a></li>
    <li class="breadcrumb-item">ユーザ属性</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>エンティティ: {{ entity.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-left">
        <a href="create_attribute.html" role="button" class="btn btn-primary">新規属性</a>
        <button name="button_export" type="button" class="btn btn-secondary">エクスポート</button>
        <button name="button_import" type="button" class="btn btn-secondary">インポート</button>
        <button name="button_delete" type="button" class="btn btn-danger">削除</button>
      </div>
      <div class="float-right">
        <button name="button_save" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form name="form" action="edit_entity.html" method="post">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td></td>
              <td>属性名</td>
              <td>TYPE</td>
              <td>必須</td>
            </tr>
          </thead>
          <tbody>
            {% for attr in attrs %}
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_0" type="checkbox" class="form-check-input"></label></td>
              <td>CPU</td>
              <td>string</td>
              <td>■</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
