{% extends 'base.html' %}

{% block title %}Edit Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    <li class="breadcrumb-item"><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></li>
    <li class="breadcrumb-item">{{ entry.name }} の編集</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% load bitwise_tags %}
<div class="container-fluid">
  <form url='/entry/do_edit/{{ entry.id }}' method='post'>
    <div class='row'>
      <div class="col">
        <div class="float-right">
          <input type="submit" class="btn btn-primary" value='保存'/>
        </div>
        <table class="table table-bordered">
          <tr>
            <td>エントリ名</td>
            <td><input type="text" name="entry_name" value="{{ entry.name }}"/>{% if entry.deleted %}(deleted){% endif %}</td>
          </tr>
        </table>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <th>属性</th>
        <th>属性値</th>
        <th></th>
      </thead>
      <tbody>
        {% include 'edit_entry_attrs.html' %}
      </tbody>
    </table>

    <strong>(*)</strong> は必須項目
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  var attrs = []

  {% for attr in attributes %}
  attrs.push({
    'id': '{{ attr.id }}',
    'value': $(this).find(".attr_value[attr_id='{{ attr.id }}']").map(function(i, e) {
      if($(e).val() != '0' && $(e).val() != '') {
        return $(e).val();
      }
    }).get(),
  });
  {% endfor %}

  HttpPost($(this), {'attrs': attrs});

  return false;
});

var append_column = function(container, template, value_setter) {
  var new_column = $('<div class="row" />');

  new_column.append($.parseHTML(template.html()));

  // set value to the new column
  value_setter(new_column);

  container.append(new_column);
};

var del_column = function() {
  // remove selected column
  $(this).parent().parent().remove();

  return false;
}

$('button[name=add_attr]').on('click', function() {
  var container = $(this).parent();
  var new_column = $('<div class="row" />');

  new_column.append($.parseHTML($(this).parent().find('.attr_value_template').html()));
  new_column.find('button[name=del_attr]').on('click', del_column);

  container.append(new_column);

  return false;
});

$(function() {
  $('button[name=del_attr]').on('click', del_column);
});

// Initiate array values
{% for attr in attributes %}
  {% if attr.type|bitwise_and:attr_type_value.array %}
    var container = $('#container-{{ attr.id }}');
    var template = $('#template-{{ attr.id }}');
    var value_setter = undefined;

    {% for value in attr.last_value %}
      {% if attr.type == attr_type.array_string %}
        value_setter = function(new_column) {
          new_column.find('.attr_value').val('{{ value }}');
        };
        append_column(container, template, value_setter);
      {% elif attr.type == attr_type.array_entry %}
        value_setter = function(new_column) {
          var elem_option = new_column.find('option[value="{{ value.id }}"]');
          elem_option.attr('selected', 'True');
        }
        append_column(container, template, value_setter);
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</script>
{% endblock %}
