{% extends 'base.html' %}

{% block title %}Edit Entity{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entity/'>エンティティ一覧</a></li>
    <li class="breadcrumb-item">{{ entity.name }}</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<form url="/entity/do_edit/{{ entity.id }}" method="post">
  {% include 'edit_entity_content.html' %}
</form>
{% endblock %}

{% block script %}
<script src="/static/js/entity.js"></script>
<script>
var update_selected_referral = function() {
  var list_group = $(this).parent().find('ul');
  list_group.empty();

  $(this).find('option:selected').each(function(e) {
    new_elem = $("<li class='list-group-item list-group-item-info' style='height: 30px; padding: 5px 15px;' />");
    new_elem.text($(this).text());

    list_group.append(new_elem);
  });
}
$(document).ready(function() {
  $(".attr_referral").on('change', update_selected_referral);
});
</script>
{% endblock %}
