{% extends 'base.html' %}

{% block title %}Edit Entry{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    <li class="breadcrumb-item"><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></li>
    <li class="breadcrumb-item">{{ entry.name }} の編集</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form url='/entry/do_edit/{{ entry.id }}' method='post'>
    <div class='row'>
      <div class='col-2'>
        エントリ名
      </div>
      <div class='col'>
        <input type='string' name='entry_name' value='{{ entry.name }}'/>
      </div>
      <div class="col-2">
        <input type="submit" class="btn btn-primary align-right" value='保存'/>
      </div>
    </div>
    <hr/>
    {% for attr in attributes %}
    <div class='row'>
      {% if attr.is_mandatory %}
        <div class='col-2'><strong>{{ attr.name }} (*)</strong></div>
      {% else %}
        <div class='col-2'>{{ attr.name }}</div>
      {% endif %}
      {% if attr.referrals %}
      <div class='col'>
        <select class='attr_value' attr_id='{{ attr.id }}'>
        {% for referral in attr.referrals %}
          {% if referral.id == attr.referral.id %}
            <option value='{{ referral.id }}' selected='selected'>{{ referral.name }}</option>
          {% else %}
            <option value='{{ referral.id }}'>{{ referral.name }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      {% else %}
      <div class='col'>
        <input type='string' class='attr_value' attr_id='{{ attr.id }}' value='{{ attr.last_value }}'/>
      </div>
      {% endif %}
      <div class='col-2'>
        <a href='/acl/{{ attr.id }}'><button type='button' class='btn btn-info btn-sm'>ACL</button></a>
      </div>
    </div>
    {% endfor %}
    {% csrf_token %}
  </form>
</div>
{% endblock %}

{% block script %}
<script>
$('form').submit(function(){
  attrs = []
  $(this).find('.attr_value').each(function(){
    attrs.push({
      'id': $(this).attr('attr_id'),
      'value': $(this).val(),
    });
  });
  HttpPost($(this), {'attrs': attrs});

  return false;
});
</script>
{% endblock %}
