<html>
<body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<form url='/group/create' method='post'>
  {% csrf_token %}
  Name: <input type="text" name="name"></input><br/>
  Users: <select name='users' multiple='true'>
    {% for user in users %}
    <option value='{{ user.id }}'>{{ user.username }}</option>
    {% endfor %}
  </select><br/>
  <input type="submit"></input><br/>
</form>
<script src="/static/js/http_request.js"></script>
<script>
$('form').submit(function(){
  HttpPost($(this), {'users': $('select[name=users]').val()});

  return false;
});
</script>
</body>
</html>
