{% extends 'base.html' %}

{% block title %}List Entries{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">{{ entity.name }}</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entry/create/{{ entity.id }}'">新規作成</button>
        <button name="button_export" type="button" class="btn btn-secondary" onclick="location.href='/entry/export/{{ entity.id }}'">エクスポート</button>
        <button name="button_import" type="button" class="btn btn-secondary">インポート</button>
        <button name="button_delete" type="button" class="btn btn-danger">削除</button>
      </div>
      <div class="float-right">
        <button name="button_save" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form name="form" action="list_entry.html" method="post">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>エントリ名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}
