{% extends 'base.html' %}

{% block title %}List Entries{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">{{ entity.name }}</li>
  </ul>
</div>
{% endblock %}

{% block content %}
{% load bitwise_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entry/create/{{ entity.id }}'">エントリ作成</button>
        <button name="button_new" type="button" class="btn btn-info" onclick="location.href='/entity/edit/{{ entity.id }}'">エンティティ編集</button>
        <button name="button_new" type="button" class="btn btn-info" onclick="location.href='/acl/{{ entity.id }}'">エンティティの ACL</button>
        <button name="button_export" type="button" class="btn btn-secondary" onclick="location.href='/entry/export/{{ entity.id }}'">エクスポート</button>
        <button name="button_import" type="button" class="btn btn-secondary" onclick="location.href='/dashboard/import/'">インポート</button>
      </div>
      <div class="float-right">
        <button name="button_save" type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col">
      {% if total_count != list_count %}
        <h5 id='entry_count'> {{ list_count }} / {{ total_count }} エントリ</h5>
      {% else %}
        <h5 id='entry_count'>{{ total_count }} エントリ</h5>
      {% endif %}
      <input id='narrow_down_entries' text='text' placeholder='絞り込む' />
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% csrf_token %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>エントリ名</th>
            <th></th>
          </tr>
        </thead>
        <tbody id='entry_container'>
          {% for entry in entries %}

          <tr>
            {% if entry.status|bitwise_and:STATUS_ENTRY.CREATING %}
              <td>{{ entry.name }} [作成中]</td>
            {% elif entry.status|bitwise_and:STATUS_ENTRY.EDITING %}
              <td><a href='/entry/show/{{ entry.id }}'>{{ entry.name }} [編集中]</a></td>
            {% else %}
              <td><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></td>
            {% endif %}

            <td>
              <form url="/entry/do_delete/{{ entry.id }}/" method="post">
                <button name="button_delete" type="button" class="btn btn-danger btn-sm" onclick="confirm_delete($(this).parent())">del</button>
              </form>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var complete_processing = function(data) {
  var container = $('#entry_container');

  container.empty();
  for (var entry of data['results']) {
    var new_elem = $('<tr />');
    var form_elem = $(`<form url="/entry/do_delete/${ entry['id'] }/" method="post" />`);

    new_elem.apend(form_elem);

    if(entry['status'] & {{ STATUS_ENTRY.CREATING }}) {
      form_elem.append($(`<td>${entry['name']} [作成中]</td>`));
    } else if(entry['status'] & {{ STATUS_ENTRY.EDITING }}) {
      form_elem.append($(`<td><a href="/entry/show/${entry['id']}">${entry['name']} [編集中]</a></td>`));
    } else {
      form_elem.append($(`<td><a href="/entry/show/${entry['id']}">${entry['name']}</a></td>`));
    }
    form_elem.append($(`<td><button name="button_delete" type="button" class="btn btn-danger btn-sm" onclick="confirm_delete($(this).parent())">del</button></td>`));

    container.append(new_elem);
  }
  $('#entry_count').text(`エントリ数：${ data['results'].length }/{{ total_count }}`);
}

$(document).ready(function() {
  var sending_request = false;
  $("#narrow_down_entries").on('keyup', function(e) {
    if(! (e.keyCode != 13 || sending_request)) {
      sending_request = true;

      $.ajax({
        type: 'GET',
        url: "/entry/api/v1/get_entries/{{ entity.id }}/",
        data: {
          keyword: $(this).val(),
        },
      }).done(function(data){
        complete_processing(data);

        // reset sending flag
        sending_request = false
      }).fail(function(data){
        MessageBox.error('failed to load data from server (Please reload this page or call Administrator)');
      });

      $('#entry_count').text('エントリ数：...データ取得中...');
    }
  });
});
</script>
{% endblock %}
