{% extends 'base.html' %}

{% block title %}List Entries{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    <li class="breadcrumb-item">{{ entry.name }} (変更履歴)</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th>属性値</th>
          <th>設定値</th>
          <th>ユーザ名</th>
          <th>更新日時</th>
        </tr>
        {% for history in value_history %}
        <tr>
          <td>{{ history.attr_name }}</td>
          {% if history.attr_type == attr_type.str %}
            <td>{{ history.attr_value }}</td>
          {% elif history.attr_type == attr_type.entry %}
            <td><a href='/entry/edit/{{ history.attr_referral.id}}'>{{ history.attr_referral.name }}</a></td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{{ history.created_user }}</td>
          <td>{{ history.created_time }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
