{% extends 'base.html' %}

{% block title %}List Users{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item">グループ一覧</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/group/create'">新規作成</button>
        <button name="button_export" type="button" class="btn btn-secondary">エクスポート</button>
        <button name="button_import" type="button" class="btn btn-secondary">インポート</button>
        <button name="button_delete" type="button" class="btn btn-danger">削除</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form name="form" action="list_user.html" method="post">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td></td>
              <td>名前</td>
              <td>メンバー</td>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
              <td><label class="form-check-label"><input name="checkbox_select_0" type="checkbox" class="form-check-input" /></label></td>
              <td>{{ group.name }}</td>
              <td>
                <ul>
                  {% for member in group.members %}
                  <li>{{ member.username }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}

