<nav class="navbar navbar-toggleable-md bg-inverse navbar-inverse fixed-top py-0 airone-navbar">
  <!-- logo -->
  <div class="mr-auto">
    <a href="/" class="navbar-brand">AirOne(Mock)</a>
  </div>
  <div>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="navbar"><a href="/dashboard/logout" class="nav-link">({{ user.username }}) ログアウト</a></li>
      {% else %}
      <li class="navbar"><a href="/dashboard/login" class="nav-link">ログイン</a></li>
      {% endif %}
    </ul>
  </div>
  <div>
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search"/>
      <button class="btn btn-outline-secondary" type="submit">検索</button>
    </form>
  </div>
</nav>
