<nav class="navbar navbar-toggleable-md bg-inverse navbar-inverse py-0">
  <!-- logo -->
  <div class="mr-auto">
    <a href="index.html" class="navbar-brand">AirOne(Mock)</a>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="navbar"><a href="list_user.html" class="nav-link">ユーザ一覧</a></li>
      <li class="navbar"><a href="list_entity.html" class="nav-link">エンティティ一覧</a></li>
      <li class="navbar"><a href="view_history.html" class="nav-link">変更履歴</a></li>
    </ul>
  </div>
  <div>
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search"/>
      <button class="btn btn-outline-secondary" type="submit">検索</button>
    </form>
  </div>
</nav>
