{% load bitwise_tags %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href="/entity/">エンティティ一覧</a></li>

    {% if path == 'index_entry' %}
      <li class="breadcrumb-item">{{ entity.name }}</li>

    {% elif path == 'import_entry' %}
      <li class="breadcrumb-item"><a href="/entry/{{ entity.id }}">{{ entity.name }}</a></li>
      <li class="breadcrumb-item">インポート</li>

    {% elif path == 'edit_entry' %}
      <li class="breadcrumb-item"><a href='{{ nav_headers.1.href }}'>{{ nav_headers.1.text }}</a></li>
      {% if 'create' in form_url %}
        <li class="breadcrumb-item">{{ nav_headers.2.text }}</li>
      {% elif 'edit' in form_url %}
        <li class="breadcrumb-item"><a href='{{ nav_headers.2.href }}'>{{ nav_headers.2.text }}</a></li>
        <li class="breadcrumb-item">{{ nav_headers.3.text }}</li>
      {% endif %}

    {% elif path == 'acl' %}
      {% if object.objtype == navigator.acl_objtype.entry %}
        <li class="breadcrumb-item"><a href="/entry/{{ object.schema.id }}">{{ object.schema.name }}</a></li>
        <li class="breadcrumb-item"><a href="/entry/show/{{ object.id }}">{{ object.name }}</a></li>
      {% elif object.objtype == navigator.acl_objtype.attrbase %}
        <li class="breadcrumb-item"><a href="/entity/edit/{{ parent.id }}">{{ parent.name }}の編集</a></li>
      {% elif object.objtype == navigator.acl_objtype.attr %}
        <li class="breadcrumb-item"><a href="/entry/{{ parent.schema.id }}">{{ parent.schema.name }}</a></li>
        <li class="breadcrumb-item"><a href="/entry/show/{{ parent.id }}">{{ parent.name }}</a></li>
        <li class="breadcrumb-item"><a href="/entry/edit/{{ parent.id }}">{{ parent.name }} の編集</a></li>
      {% endif %}
      <li class="breadcrumb-item">ACL 設定</li>

    {% elif path == 'show_entry' or path == 'copy_entry' %}
      <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
      {% if entry.is_deleted %}
        <li class="breadcrumb-item">{{ entry.name }} [削除済]</li>
      {% elif entry.status|bitwise_and:STATUS_ENTRY.EDITING %}
        <li class="breadcrumb-item">{{ entry.name }} [編集中]</li>
      {% else %}
        {% if path == 'copy_entry' %}
          <li class="breadcrumb-item"><a href='/entry/show/{{ entry.id }}'>{{ entry.name }}</a></li>
          <li class="breadcrumb-item">コピー</li>
        {% else %}
          <li class="breadcrumb-item">{{ entry.name }}</li>
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
</div>
