{% extends 'base.html' %}

{% block title %}List Entries{% endblock %}

{% block nav_sub_header %}
{% load bitwise_tags %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    {% if entry.is_deleted %}
      <li class="breadcrumb-item">{{ entry.name }} [削除済]</li>
    {% elif entry.status|bitwise_and:STATUS_ENTRY.EDITING %}
      <li class="breadcrumb-item">{{ entry.name }} [編集中]</li>
    {% else %}
      <li class="breadcrumb-item">{{ entry.name }}</li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entry/edit/{{ entry.id }}'">編集</button>
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entry/copy/{{ entry.id }}'">コピー</button>
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/acl/{{ entry.id }}'">ACL 設定</button>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <table class="table table-bordered">
        <tr>
          <th>属性</th>
          <th>属性値</th>
        </tr>
        {% for attr in attributes %}
        <tr>
          <td>{{ attr.name }}</td>
          <td>
          {% if attr.type == attr_type.string %}
            <p class='url_conv'>{{ attr.last_value }}</p>
          {% elif attr.type == attr_type.textarea %}
            <pre class='url_conv'>{{ attr.last_value }}</pre>
          {% elif attr.type == attr_type.entry and attr.last_referral %}
            <a href='/entry/show/{{ attr.last_referral.id }}'>{{ attr.last_referral.name }}</a>{% if attr.last_referral.deleted %}(deleted){% endif %}
          {% elif attr.type == attr_type.array_string %}
            <ul class='list-group'>
            {% for value in attr.last_value %}
              <li class='list-group-item'>{{ value }}</li>
            {% endfor %}
            </ul>
          {% elif attr.type == attr_type.array_entry %}
            <ul class='list-group'>
            {% for refer in attr.last_referral %}
              <li class='list-group-item'>
                <a href='/entry/show/{{ refer.id }}'>
                  {{ refer.name }}
                </a>
                {% if refer.deleted %}(deleted){% endif %}
              </li>
            {% endfor %}
            </ul>
          {% elif attr.type == attr_type.boolean %}
            {% if attr.last_value %}
            <input type="checkbox" disabled='True' checked='True'/>
            {% else %}
            <input type="checkbox" disabled='True' />
            {% endif %}
          {% elif attr.type == attr_type.named_entry %}
            <div class='row'>
              <div class='col-3'>
                <p class='url_conv'>{{ attr.last_value }}</p>
              </div>
              <div class='col-9'>
                <a href='/entry/show/{{ attr.last_referral.id }}'>{{ attr.last_referral.name }}</a>{% if attr.last_referral.deleted %}(deleted){% endif %}
              </div>
            </div>

          {% elif attr.type == attr_type.array_named_entry %}
            <ul class='list-group'>
            {% for data in attr.last_value %}
              <li class='list-group-item'>
                <div class='row'>
                  <div class='col-3'>
                    <p class='url_conv'>{{ data.value }}</p>
                  </div>
                  <div class='col-9'>
                    <a href='/entry/show/{{ data.referral.id }}'>{{ data.referral.name }}</a>{% if data.referral.deleted %}(deleted){% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>

          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {% if referred_objects %}
  <div class="row" id='referred_objects'>
    <div class="col">
      <hr/>
      <h4>参照オブジェクトの一覧</h4>
      <h5 id='referral_entry_count'>(エントリ数：{{ referred_total }})</h5>
      <input id='narrow_down_referral' text='text' placeholder='絞り込む' />
      <div class='list-group' id='referral_entries'>
        {% for object in referred_objects %}
        <a class="list-group-item" href="/entry/show/{{ object.id }}">{{ object.name }} ({{ object.schema.name }})</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col">
      <hr/>
      <h3>変更履歴</h3>
      <table class="table table-bordered">
        <tr>
          <th>属性値</th>
          <th>設定値</th>
          <th>ユーザ名</th>
          <th>更新日時</th>
        </tr>
        {% for history in value_history %}
        <tr>
          <td>{{ history.attr_name }}</td>
          {% if history.attr_type == attr_type.string %}
            <td><p class='url_conv'>{{ history.attr_value }}</p></td>
          {% elif history.attr_type == attr_type.textarea %}
            <td><pre class='url_conv'>{{ history.attr_value }}</pre></td>
          {% elif history.attr_type == attr_type.entry and history.attr_value %}
            <td><a href='/entry/show/{{ history.attr_value.id}}'>{{ history.attr_value.name }}</a></td>
          {% elif history.attr_type == attr_type.array_string %}
            <td>
              <ul class='list-group'>
              {% for attrv in history.attr_value %}
                <li class='list-group-item'>{{ attrv }}</li>
              {% endfor %}
              </ul>
            </td>

          {% elif history.attr_type == attr_type.array_entry %}
            <td>
              <ul class='list-group'>
              {% for attrv in history.attr_value %}
                <li class='list-group-item'>
                  <a href='/entry/show/{{ attrv.id }}'>
                    {{ attrv.name }}
                  </a>
                </li>
              {% endfor %}
              </ul>
            </td>
          {% elif history.attr_type == attr_type.boolean %}
            <td>
              {% if history.attr_value %}
              <input type="checkbox" disabled='True' checked='True'/>
              {% else %}
              <input type="checkbox" disabled='True' />
              {% endif %}
            </td>

          {% elif history.attr_type == attr_type.named_entry %}
            <td>
              <div class='row'>
                <div class='col-3'>
                  {{ history.attr_value.value }}
                </div>
                <div class='col-9'>
                  <a href='/entry/show/{{ history.attr_value.referral.id }}'>{{ history.attr_value.referral.name }}</a>
                </div>
              </div>
            </td>

          {% elif history.attr_type == attr_type.array_named_entry %}
            <td>
              <ul class='list-group'>
              {% for attrv in history.attr_value %}
                <li class='list-group-item'>
                  <div class='row'>
                    <div class='col-3'>
                      {{ attrv.value }}
                    </div>
                    <div class='col-9'>
                      <a href='/entry/show/{{ attrv.referral.id }}'>{{ attrv.referral.name }}</a>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </td>

          {% else %}
            <td></td>
          {% endif %}
          <td>{{ history.created_user }}</td>
          <td>{{ history.created_time }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script>
var complete_processing = function(data) {
  var container = $('#referral_entries');

  container.empty();
  for(var entry of data['entries']) {
    var new_elem = $(`<a class="list-group-item" href="/entry/show/${entry['id']}">${entry['name']} (${entry['entity']})</a>`);

    container.append(new_elem);
  }
  $('#referral_entry_count').text(`エントリ数：${ data['found_count'] } / {{ referred_total }}`);
}

$(document).ready(function() {
  var sending_request = false;
  $("#narrow_down_referral").on('keyup', function(e) {
    if(! (e.keyCode != 13 || sending_request)) {
      sending_request = true;

      $.ajax({
        type: 'GET',
        url: "/entry/api/v1/get_referrals/{{ entry.id }}/",
        data: {
          keyword: $(this).val(),
        },
      }).done(function(data){
        complete_processing(data);

        // reset sending flag
        sending_request = false
      }).fail(function(data){
        MessageBox.error('failed to load data from server (Please reload this page or call Administrator)');
      });

      $('#referral_entry_count').text('エントリ数：...データ取得中...');
    }
  });
});
// hyper_link
$(".url_conv").each(function(){
   $(this).html( $(this).html().replace(/(http(s)?:\/\/.+)/g,'<a href="$1" class="preview">$1</a>') );
});
// live_preview
$(document).ready(function() {
  $(".preview").livePreview();
});
</script>
{% endblock %}
