{% extends 'base.html' %}

{% block title %}List Entries{% endblock %}

{% block nav_sub_header %}
<div class="conatiner-fluid">
  <ul class="breadcrumb airone-breadcrumb">
    <li class="breadcrumb-item"><a href="/">TOP</a></li>
    <li class="breadcrumb-item"><a href='/entry/{{ entry.schema.id }}'>{{ entry.schema.name }}</a></li>
    <li class="breadcrumb-item">{{ entry.name }}{% if entry.is_deleted %}(deleted){% endif %}</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/entry/edit/{{ entry.id }}'">編集</button>
        <button name="button_new" type="button" class="btn btn-primary" onclick="location.href='/acl/{{ entry.id }}'">ACL 設定</button>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <table class="table table-bordered">
        <tr>
          <th>属性</th>
          <th>属性値</th>
        </tr>
        {% for attr in attributes %}
        <tr>
          <td>{{ attr.name }}</td>
          <td>
          {% if attr.type == attr_type.string %}
            {{ attr.last_value }}
          {% elif attr.type == attr_type.entry and attr.last_referral %}
            <a href='/entry/show/{{ attr.last_referral.id }}'>{{ attr.last_referral.name }}</a>{% if attr.last_referral.deleted %}(deleted){% endif %}
          {% elif attr.type == attr_type.array_string %}
            <ul class='list-group'>
            {% for value in attr.last_value %}
              <li class='list-group-item'>{{ value }}</li>
            {% endfor %}
            </ul>
          {% elif attr.type == attr_type.array_entry %}
            <ul class='list-group'>
            {% for refer in attr.last_value %}
              <li class='list-group-item'>
                <a href='/entry/show/{{ refer.id }}'>
                  {{ refer.name }}
                </a>
                {% if attr.last_referral.deleted %}(deleted){% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr/>
      <h3>変更履歴</h3>
      <table class="table table-bordered">
        <tr>
          <th>属性値</th>
          <th>設定値</th>
          <th>ユーザ名</th>
          <th>更新日時</th>
        </tr>
        {% for history in value_history %}
        <tr>
          <td>{{ history.attr_name }}</td>
          {% if history.attr_type == attr_type.string %}
            <td>{{ history.attr_value }}</td>
          {% elif history.attr_type == attr_type.entry and history.attr_referral %}
            <td><a href='/entry/show/{{ history.attr_referral.id}}'>{{ history.attr_referral.name }}</a></td>
          {% elif history.attr_type == attr_type.array_string %}
            <td>
              <ul class='list-group'>
              {% for attrv in history.attr_value_array %}
                <li class='list-group-item'>{{ attrv }}</li>
              {% endfor %}
              </ul>
            </td>

          {% elif history.attr_type == attr_type.array_entry %}
            <td>
              <ul class='list-group'>
              {% for attrv in history.attr_value_array %}
                <li class='list-group-item'>
                  <a href='/entry/show/{{ attrv.id }}'>
                    {{ attrv.name }}
                  </a>
                </li>
              {% endfor %}
              </ul>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{{ history.created_user }}</td>
          <td>{{ history.created_time }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
